<!DOCTYPE html>
<html>
<head>
  <title>Set Details</title>
  <link rel="stylesheet" href="/css/theme.css" />
</head>
<body>
  <%- include('partials/navbar', { page: '' }) %>

  <h1><%= set.name %></h1>
  <p>Below, you will find detailed information about the set:</p>

  <img src="<%= set.img_url %>" width="300" /><br />
  <p>Year: <%= set.year %></p>
  <p>Theme: <%= set.theme %></p>
  <p>Parts: <%= set.num_parts %></p>

  <a href="/lego/deleteSet/<%= set.set_num %>">Delete This Set</a> |
  <a href="#" onclick="history.back(); return false;">Back</a>
</body>
</html>
