<!DOCTYPE html>
<html>
<head>
  <title>Set Details</title>
  <link rel="stylesheet" href="/css/theme.css" />
</head>
<body>
  <%- include('partials/navbar', { page: '' }) %>

  <h1><%= set.name %></h1>
  <p style="margin-left: 10px;">Below, you will find detailed information about the set:</p>

  <img style="margin-left: 10px;" src="<%= set.img_url %>" width="300" /><br />
  <p style="margin-left: 10px;">Year: <%= set.year %></p>
  <p style="margin-left: 10px;">Theme: <%= set.theme %></p>
  <p style="margin-left: 10px;">Parts: <%= set.num_parts %></p>

  <a style="margin-left: 10px;" href="/lego/deleteSet/<%= set.set_num %>">Delete This Set</a> |
  <a style="margin-left: 10px;" href="#" onclick="history.back(); return false;">Back</a>
</body>
</html>
